.nav-icon-link {
    text-align: center;
    margin: 0;
    padding: 3px 15px 0 15px !important;
    span.fa {
        font-size: 200%;
    }
    img {
        max-height: 50px;
    }
    label {
        display: block;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
}

.user-panel {
    .panel-heading {
        position: relative;
        height: 3em;
        .img-thumbnail {
            position: absolute;
            top: 5px;
            left: 50%;
            height: 138px;
            transform: translateX(-50%);
        }
    }
    .panel-body {
        margin-top: 100px;
        .user-name {
            display: block;
            text-align: center;
        }
    }
}

.chatContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
        .right {
            float: right;
            margin-left: 20px;
            margin-right: 0;
        }
    }
}

.chatContainer i .chatContainer .time-right {
    float: right;
    color: #aaa;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.time-left {
    float: left;
    color: #999;
}

.profile_pic {
    padding: 4px;
    border-radius: 50%;
    display: inline-block;
    max-width: 100%;
    background-color: #f5f8fa;
    border: 1px solid #ddd;
    height: auto;
    &.sm {
        height: 50px;
    }
}